.container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
  .logo {
    width: 200px; /* Ajustez cette valeur selon la taille désirée */
    height: auto;
    filter: drop-shadow(0 0 10px white); /* Ajoute une ombre blanche autour du logo */
  }
  