/* src/Event.css */

.event-card {
  border: 2px dashed orange;
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 0 15px rgba(128, 0, 128, 0.5);
  background-color: #ffe6e6;
  text-align: center;
  transition: transform 0.2s;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card h2 {
  margin: 0 0 15px;
  font-size: 1.8em;
  color: purple;
  text-shadow: 1px 1px 2px orange;
}

.event-card p {
  margin: 8px 0;
  font-size: 1.2em;
  color: #ff6600;
}

/* src/EventList.css */

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f2f2ff;
  padding: 20px;
  border-radius: 180px;
}

.image-vigniette{
  width: 300px;
  height: 100px;
}